#menu {
    margin-top: 91px;
    width: 1440px;
    height: 70px;
    border-bottom: 2px solid black;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    column-gap: 930px;
    padding-bottom: 10px;
    margin-bottom: 86px;
}

#Shopping-Cart {
    color: #000;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

button {
    background-image: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container {

    width: 1350px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid #495B00;
    background: #FFF;

    display: flex;
    align-items: center;
    column-gap: 45px;
    align-items: center;
    margin-bottom: 50px;

}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 25px;
}

.explain-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.explain-container>p:last-child {
    margin-top: 12%;
}

.item-title {
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.name {
    color: #292929;
    font-family: Inter;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.price {
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#product-image {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #00B2FF;
    background: #FFF;

    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 1.5px solid #787878;
    background: #D9D9D9;
    margin-left: 30px;
}

.purchase-bnt {
    width: 230px;
    height: 57px;

    border-radius: 10px;
    border: 3px solid #CF0;
    background: #F4FCFF;

    color: #B6E400;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.delete-bnt {
    width: 230px;
    height: 56.889px;
    border-radius: 10px;
    border: 3px solid #8AA227;
    background: #F4FCFF;

    color: #8AA227;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media screen and (max-width: 1194px) {
    #menu {
        margin-top: 72px;
        width: 1191px;
        height: 70px;
        border-bottom: 2px solid black;

        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        column-gap: 760px;
        padding-bottom: 10px;
        margin-bottom: 70px;
    }

    #Shopping-Cart {
        width: 170px;
        height: 29px;
        color: #000;
        font-family: Inter;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    button {
        background-image: none;
        background-color: transparent;
        border: none;
        cursor: pointer;

    }

    .menu-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .container {

        width: 1120px;
        height: 250px;
        border-radius: 10px;
        border: 1px solid #495B00;
        background: #FFF;

        display: flex;
        align-items: center;
        column-gap: 40px;
        align-items: center;
        margin-bottom: 50px;
    }

    .btn-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 20px;
    }

    .explain-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .explain-container>p:last-child {
        margin-top: 10%;
    }

    .item-title {
        color: #000;
        font-family: Inter;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .name {
        color: #292929;
        font-family: Inter;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .price {
        color: #000;
        font-family: Inter;
        font-size: 23px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    #product-image {
        width: 248.873px;
        height: 165.915px;
        border-radius: 10px;
        border: 1px solid #00B2FF;
        background: #FFF;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    #img-item {
        width: 194.95px;
        height: 155.131px;
    }

    input {
        width: 21px;
        height: 22px;
        border-radius: 5px;
        border: 1.5px solid #787878;
        background: #D9D9D9;
        margin-left: 30px;
    }

    .purchase-bnt {
        width: 190.803px;
        height: 47.286px;

        border-radius: 10px;
        border: 2.5px solid #CF0;
        background: #F4FCFF;

        color: #B6E400;
        font-family: Inter;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .delete-bnt {
        width: 190.803px;
        height: 47.194px;
        border-radius: 10px;
        border: 2.5px solid #8AA227;
        background: #F4FCFF;


        color: #8AA227;
        font-family: Inter;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    footer {
        position: fixed;
        bottom: 0;
        z-index: 100;

        width: 100%;
        height: var(--nav-height);

        display: flex;
        justify-content: space-around;
        align-items: center;

        background-color: var(--first-color);
        box-shadow: 1px 0px 16px rgb(203, 203, 203);
    }

    footer>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer a {
        color: black;
        text-align: center;
    }

    .bottom-nav-personal p {
        margin-top: 2px;
        font-size: var(--smaller-font-size);
    }
}


@media screen and (max-width: 391px) {
    #menu {
        margin-top: 72px;
        width: 390.004px;
        height: 20px;
        border-bottom: 2px solid black;

        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        column-gap: 760px;
        padding-bottom: 10px;
        margin-bottom: 70px;
    }

    #Shopping-Cart {
        width: 70px;
        height: 15px;
        color: #000;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    button {
        background-image: none;
        background-color: transparent;
        border: none;
        cursor: pointer;

    }

    .menu-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .container {

        width: 345px;
        height: 138px;
        border-radius: 10px;
        border: 1px solid #495B00;
        background: #FFF;

        display: flex;
        align-items: center;
        column-gap: 40px;
        align-items: center;
        margin-bottom: 50px;
    }

    /* .btn-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 20px;
    } */

    .explain-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .explain-container>p:last-child {
        margin-top: 10%;
    }

    .item-title {
        width: 182px;
        height: 36px;

        color: #000;
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .name {
        color: #292929;
        font-family: Inter;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .price {
        color: #000;
        font-family: Inter;
        font-size: 23px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    #product-image {
        width: 248.873px;
        height: 165.915px;
        border-radius: 10px;
        border: 1px solid #00B2FF;
        background: #FFF;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    input {
        width: 15px;
        height: 15px;
        border-radius: 2.5px;
        border: 1px solid #787878;
        background: #D9D9D9;
        margin-left: 10px;
    }

    /* .purchase-bnt {
        width: 190.803px;
        height: 47.286px;

        border-radius: 10px;
        border: 2.5px solid #CF0;
        background: #F4FCFF;

        color: #B6E400;
        font-family: Inter;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .delete-bnt {
        width: 190.803px;
        height: 47.194px;
        border-radius: 10px;
        border: 2.5px solid #8AA227;
        background: #F4FCFF;


        color: #8AA227;
        font-family: Inter;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    } */
}